*{
    box-sizing: border-box;
}
body{
    background-color: #ffffff;

}
#header-nav{
    background-color: #ffffff;
    border-radius: 20px;
    margin:15px;
    box-shadow: 2px 2px 4px 2px #1d3815;
}
.container{
    width: 100%;
    max-width: none;

}
.navbar-header  {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 100%;
    display: flex;
}
#logo-img{
    background: url(img/logo.png) no-repeat;
    width: 80px;
    height:70px;
    margin-left:0px;
    padding: 0px;
}
.navbar-brand{
    margin: 0px;
    padding-left: 10px;
    margin-bottom: 0px;
}
.navbar-brand h1{
    font-family: 'Playfair Display', serif;
    color: #153521;
    
}
.navbar-brand p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:link{
    text-decoration: none;
}
nav button{
    margin-right: 0px;
    margin-left: auto;
    height: 50px;
    margin-top: 20px;
}
.container button:hover {
    background: #7ea277;
    box-shadow: 10px 10px 30px #61845a;
}
#nav-list{
    width: 300px;
    display: flex;
    margin: 0px;
    font-size: 20px;
}
.c-item{
    height:400px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.c-img{
    height:100%;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 15px;
    margin:10px;
    width: 100%;
}
#menu-tile ,#specials-tile,#map-tile{
    height: 252px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid rgb(17, 74, 34);
    overflow: hidden;
    border-radius: 10px;
}
#menu-tile:hover, #specials-tile:hover , #map-tile:hover{
    box-shadow: 0 1px 5px 1px rgb(78, 152, 78);
}
#specials-tile{
    background: url(img/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}
#menu-tile{
    background: url(img/5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}
#menu-tile span ,#specials-tile span ,#map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #ffffff;
    opacity: 0.7;
}
.panel-footer{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #000;
    border-top: 0;
    color: white;
}
.panel-footer div.row{
margin-bottom: 35px;
}
#hours, #address{
    line-height: 2;
}
#hours>span, #address>span{
    font-size: 1.3em;
}
#address p{
    font-size: 0.8em;
    line-height: 1.8;
    color:#5cc03d;
}
#testimonials{
    font-style: italic;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}

.category-title{
    position: relative;
    border: 2px solid rgb(29, 82, 39);
    overflow: hidden;
    width: 180px;
    height: 200px;
    margin: 0 auto 15px;
}
.category-title span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: white;
    opacity: .8;
}
.category-title:hover{
    box-shadow: 0 1px 5px 1px rgb(178, 184, 178);
}
#menu-categories-title{
    margin-bottom: 35px;
    font-size: xx-large;
font-family: 'Times New Roman', Times, serif;}
#menu-categories-title + div{
    margin-bottom: 10px;
}

.category-title > img {
    object-fit: cover;
    width: 100%; /* Allow the image to adjust its width while maintaining aspect ratio */
    height: 100%; /* Allow the image to adjust its height while maintaining aspect ratio */
}
.menu-item-title{
    margin-bottom: 25px;
}
.menu-item-title hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.menu-item-title .menu-item-price{
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
}
.menu-item-title .menu-item-price span{
    font-size: .6em;
}
.menu-item-photo{
    position: relative;
    border: 2px solid forestgreen;
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
}
.menu-item-description{
    padding-right: 30px;
}
h3.menu-item-title{
    margin: 0 0 10px;
}
.menu-item-details{
    font-size: 0.9em;
    font-style: italic;
}

@media(max-width:479px){
    .navbar-brand h1{
        padding-top: 5px;
        font-size: 6vw;
    }

    .col-xxs-12{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%; 
    }

}
@media(max-width:767px){
    .container{
        padding: 10px;
        margin-top: 30px;
    }
    #menu-tile , #specials-tile{
        width: 280px;
        margin:   10px auto  15px;
    }
    .panel-footer section{
        margin-bottom: 30px;
        text-align: center;
    }
    .panel-footer section hr{
        width: 100%;
    }
    .panel-footer section:nth-child(3){
        margin-bottom: 0;
    }
    .menu-item-photo{
        margin-right: auto;
    }
    .menu-item-title .menu-item-price{
        text-align: center;
    }
    .menu-item-description{
        text-align: center;

    }
}










